<nav>
    {% if user.is_authenticated %}
        <h3><a href="{% url 'dashboard' %}">Dashboard</a></h3>
        <h3><a href="{% url 'bp_list' %}"> All Entries</a></h3>
        <h3><a href="{% url 'bp_create' %}"> Add Entry</a></h3>
          
        
        

        <form method="post" action="{% url 'logout' %}" style="margin-left: auto;">
            {% csrf_token %}
            <button type="submit">
                Logout
            </button>
        </form>
    {% else %}
        <h3><a href="{% url 'login' %}"> Login </a></h3>
        <h3><a href="{% url 'registration' %}">Register</a></h3>
    {% endif %}
</nav>
<hr>